---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Learn More"
  description="SMK PENANTI TINGKATAN ENAM, PTE PUSAT TINGKATAN ENAM"
	pubDate={new Date('Nov 20 2025')}
	heroImage={AboutHeroImage}
>
<p>SMK Penanti, atau nama penuhnya Sekolah Menengah Kebangsaan Penanti, merupakan sebuah sekolah menengah yang terletak di Kubang Semang, Pulau Pinang. Sekolah ini mula beroperasi pada 4 Januari 1971 dan pada asalnya dikenali sebagai Sekolah Menengah Kubang Semang. Nama ini kemudiannya ditukar kepada SMK Penanti pada sekitar tahun 1980-an.</p>

<p>Pada tahun pembukaannya, SMK Penanti memulakan sesi pengajian dengan hanya 552 orang murid. Di bawah pimpinan pengetua pertamanya, Tuan Haji Razikin bin Omar, bilangan pelajar berkembang dengan pesat sehingga mencecah 1,026 orang pada tahun 1973.</p>

<p>Perkembangan fizikal sekolah juga berlaku seiring dengan pertambahan pelajar. Sebuah blok makmal sains tulen telah dibina pada tahun 1976. Pada tahun 1977, bangunan tambahan didirikan yang meningkatkan bilangan bilik darjah.</p>

<p>Era 1980-an menyaksikan lebih banyak transformasi di SMK Penanti. Selain pertukaran nama, sekolah ini mula menawarkan kelas Tingkatan Enam aliran sastera pada tahun 1983. Sebuah asrama perempuan juga dibuka pada tahun 1988.</p>

</Layout>
