---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Header /> <!-- src src/components/Header.astro --> 
    <main>
      <div>
        <h1><span style="color:orange">MPP PTE</span> SMK <span>Penanti</span>  </h1>
      </div>
      <hr>
      <div style="margin:20px">
        <p><h5>Assalamualaikum wbt dan selamat datang ke Blog Rasmi Pelajar Tingkatan Enam SMK Penanti!</h5>
        Blog ini menjadi platform rasmi untuk merakam dan berkongsi segala aktiviti, program, dan pencapaian yang melibatkan warga Tingkatan Enam sekolah kita. Dari aktiviti akademik seperti kelas tambahan dan bengkel, sehingga program pembangunan diri, sukan, dan khidmat masyarakat — semuanya akan didokumentasikan di sini.
        </p><p>
Selain menjadi arkib digital, blog ini juga berfungsi sebagai saluran komunikasi utama. Kepada semua pelajar Tingkatan Enam, jika anda mempunyai sebarang cadangan, maklumat untuk dikongsi, atau sebarang isu yang perlu dilaporkan berkenaan hal-ehwal Tingkatan Enam, sila hubungi Amirul(+60-113050-5985).
<p/><p>
Blog ini masih dalam proses penambahbaikan, dan sumbangan idea daripada semua amatlah dihargai. Marilah kita bersama-sama menjadikan Tingkatan Enam SMK Penanti sebuah komuniti yang aktif, bersatu dan berjaya!</p>

      </div>
    		</main>
        <Footer /> <!-- src/components/Footer.astro -->
	</body>
</html>
