---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Header /> <!-- src src/components/Header.astro --> 
    <main>
      <div>
        <h1><span style="color:orange">PTE</span> SMK <span>Penanti</span>  </h1>
      </div>
      <hr>
      <div style="margin:20px">
        <p><h5>Asalamualaikum</h5>
        dan salamat datang laman rasmi 
        bagi pte smk penantii !! 
        Nama saya Amirul, website ini
        masih dalam pengembangan.
        Semua activity pte akan di rekod ke dalam sini,
        setiap aktivit dan masalah yang ingin
        di baiki atau di rekod boleh lapor ke Amirul.
        </p>

      </div>
    		</main>
        <Footer /> <!-- src/components/Footer.astro -->
	</body>
</html>
